@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Kanit&family=Noto+Sans&family=Roboto+Slab&family=Saira+Semi+Condensed:wght@500&display=swap');

/*generic stylerules*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(19, 7, 84);
    background: radial-gradient(circle, rgba(19, 7, 84, 1) 0%, rgba(134, 138, 232, 1) 100%);
    background-repeat: no-repeat;
    transition: all 0.5s;
    font-family: 'Kanit', 'Roboto Slab', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 35px;
}

.header-title {
    color: white;
    text-decoration: none;
    font-family: 'Saira Semi Condensed';
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#weather-section {
    border: 1.5px solid black;
    border-radius: 25px;
    height: 450px;
    width: 300px;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
}

.top-search-functions {
    height: 90px;
    width: 300px;
    display: flex;
}

#search-text-bar {
    width: 200px;
    height: 30px;
    margin-top: 40px;
    margin-left: 35px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 17px;
}

/*styling of search icon*/
.search-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 8px;
    outline: none;
    border: none;
    border-radius: 8px;
    transition: background-color 0.5s ease-in-out, border-radius 0.5s ease-in-out, color 0.5s ease-in-out;
    background-color: white;
}

.search-button:hover {
    color: white;
    background-color: #797BD7;
    border-radius: 30px;
}

.weather-icon-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.output-location-section {
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-location-dot {
    color: white;
    margin-right: 5px;
}

.output-location-text {
    color: white;
    font-size: 25px;

}

.rain {
    background-image: url('/assets/images/rain.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 15px 30px;
    margin: 10px 0;
}

.sunny {
    background-image: url('/assets/images/sun.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 15px 30px;
    margin: 10px 0;
}

.windy {
    background-image: url('/assets/images/wind.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 15px 30px;
    margin: 10px 0;
}

.temperature-wind-section {
    width: 300px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
    font-size: larger;
    margin-bottom: 17px;
}

.fa-wind {
    margin: 0 5px 0 13px;
}

.fa-temperature-three-quarters {
    margin-right: 5px;
}

.temp-wind-data-section {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 45px;
}
.temperature-data {
    margin-left: 30px;
}

.wind-data {
    margin-left: 30px;
}

.background-gradient {
    background: rgb(134, 138, 232);
    background: linear-gradient(62deg, rgba(134, 138, 232, 1) 0%, rgba(19, 7, 84, 1) 100%);
}

footer {
    width: 100%;
    height: 80px;
    align-self: flex-end;
}

#social-section {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 180%;
    padding-top: 20px;
    padding-bottom: 8px;
}

#social-section i {
    color: white;
    transition: color 0.5s ease;

}

#social-section i:hover {
    color: #797BD7;
}